.homemain-conatiner{
    float: right;
    width: calc(100% - 300px - 16px);
    margin: 0px 40px 0px 0px;
    padding: 0px 20px 0px 0px;

}

.homemainbar-heading{
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
}



.home-main-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button{
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #0a95ff;
    border: none;
    border-radius: 5px;
}

.home-button:hover{
    background-color:#0a37ff ;
}