.eachQuestion-container{
   min-width: 100%;
   
}

.eachQuestion-heading{
    margin: 0px 0px;
}

.each-question-description{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    min-width:calc(100% - 300px);

}

.votes-conainr{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.eachquestion-tag-container{
    display: flex;
    align-items: center;
    
}

.eachquestion-tag-container p{
    padding: 5px 5px;
    margin: 0px 5px;
    font-size: 15px;
    background-color: #f1f2f3;
    color: #0086d8;
    text-align: center;
    border-radius: 5px;

}

.each-question-buttons-users{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.each-question-buttons-users button{
    background-color: transparent;
    color:#939292;
    margin: 10px 10px;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
}

.but-up-down{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.user-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user{
    padding: 8px 10px;
    color: #000;
    background-color:#ef8236;
    margin: 0px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.user-container p{
    padding: 0px 10px;
    margin: 0% auto;
}

.answer-description{
    padding: 30px 10px 30px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

textarea{
    min-width: calc(100% - 24px);
    height: 150px;
    padding: 10px 10px 10px 10px;
    border: 2px solid rgba(0,0,0,0.112);
}

.your-answer-container button{
    padding: 10px 10px;
    background-color: #0086d8;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 20px 0px 0px 0px;

}

.your-answer-container{
    padding: 0px 0px 50px 20px;
}

.your-answer-container button:hover{
    background-color: #059cfa;

}

.link-tags{
    padding: 5px 5px;
    margin: 0px 5px;
    font-size: 15px;
    background-color: #f1f2f3;
    color: #0086d8;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;


}

.link-text{
    color: #0086d8;
    text-decoration: none;
}